{% extends "homepage/homepage.html" %}
{% load static %}

{% block contend %}

<br>

<form method="post">
    {% csrf_token %}
    <input class="form-control me-auto color_s" type="text" name="user_input" placeholder="Пошук інградієнтів">
    <button type="submit" class="btn btn-secondary">Пошук</button>
    <div class="vr"></div>
    <button type="button" class="btn btn-outline-danger">Скинути</button>
</form>

{% if response %}
    <div>
        <h3>{{ response|safe }}</h3>

        <h1>Recipe</h1>
        <p>{{ recipe }}</p>
    </div>
{% endif %} 

{% endblock contend %}