<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Cook'n'Love</title>






</head>
<body>
    <header>

        <div class="logo">
            <a href="index.html"><img class="grafic" src="{% static '/images/logo.jpg' %}" alt="Logo"> </a>
        </div>

        <nav>

            <div class="topnav" id="myTopnav">
                <a href="index.html">Головна</a>
                <a href="food.html">Їжа</a>
                <a href="drinks.html">Напої</a>
                <a href="#Contact">Контакти</a>
                <a id="menu" href="#" class="icon">&#9776;</a>
            </div>

        </nav>

    </header>

    <main class=" Recipes container max-width: 100% ">
        <br>

        <div class="py-1">

            <div class="fs-5 col-7"> <b>У нас ти легко знайдеш рецепт для себе.<br> Усе просто: вводиш інградієнти у пошук - отримуєш рецепти. </b></div>

            <div class="col-5"></div>
        </div>

        <br>
        <br>
        <br>
        <br>
    </main>



    <!--Початок "Пошук"-->

    {% block content %}
    <div class="hstack gap-3 container my-4">
        <form method="post">
            {% csrf_token %}
            <input class="form-control me-auto color_s" type="text" name="user_input" placeholder="Пошук інградієнтів">
            <a href="reg\" type="submit" class="btn btn-secondary">Пошук</a>
            <div class="vr"></div>
            <button type="button" onclick="toButt()" class="btn btn-outline-danger">Скинути</button>
        </form>

    </div>

    <!--Кінець "Пошук"-->

    {% if response %}
    <div>
        <h3>{{ response|safe }}</h3>

        <h1>Recipe</h1>
        <p>{{ recipe }}</p>
    </div>
    {% endif %}

    {% endblock content %}


    

    <div>
        <p class="fs-2 list"><b>Тут ти можеш вибрати потрібні інгредієнти</b> </p>
    </div>

    <br>
    <br>

    <!--Початок "Контейнер"-->

    <div class="container">

    </div>




    <div class="container Bitok pt-5">

        <h1 class="py-3" align="center">Страва для тебе!</h1>

    </div>
    



    <div class="container text-center">

        <img class="img-fluid" style="height:600px; width:auto;" src="{% static '/images/Break.jpg' %}">

    </div>


    <!--Кінець "Контейнер"-->



    <br>
    <br>

    <!--Початок "Футер"-->
    <div class="container">


        <div class="Bordik">
            <div class="my-5_rad_bg-danger row">

                <h3 class="py-3" align="center">Приєднуйтесь до нас!</h3>
                <br>
                <h3 id="Contact" class="py-3" align="center">Стежте за нами @Cook 'n' Love</h3>
                <br>
                <br>


                <div class="col-4"></div>


                <div class="wrapper py-2 col-4 my-3">

                    <div class="icon Facebook  my-5">
                        <div class="tooltrip">Facebook</div>
                        <span><i class="fab fa-facebook-f"></i></span>
                    </div>

                    <div class="icon instagram  my-5">
                        <div class="tooltrip">Instagram</div>
                        <span><i class="fab fa-instagram"></i></span>
                    </div>

                    <div class="icon twitter  my-5">
                        <div class="tooltrip">Twitter</div>
                        <span><i class="fab fa-twitter"></i></span>
                    </div>

                    <div class="icon youtube  my-5">
                        <div class="tooltrip">YouTube</div>
                        <span><i class="fab fa-youtube"></i></span>
                    </div>

                </div>


                <div class="col-4"></div>
                <br>
                <br>


                <p align="center">Тел. номер ----------</p>

                <p align="center">Адреса ---</p>
            </div>
        </div>

    </div>
    <!--Кінець "Футер"-->


   

    <!--Бустрап скріпти-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>