{% extends 'layout.html' %}

<!-- Підключення до Осн. шаблона -->
{% load static %}
<!-- !!!Не забувайте підгружати статік бо якщо цього не робити то CSS JAvaScript, Img просто не будуть працювати !!! -->

<!-- Сюди лінки писати (навсяки запасні уточню) Це фактично є <head> -->

    {% block additional_links %}
        <link rel="stylesheet" type="text/css" href="{% static '/CSS/about_us.css' %}">
    {% endblock %}

<!-- Вважайти що це просто <body> бо посуті так і є -->
{% block contend %}
<div class="main_homepage row">
    <div class="col-2"><!-- Просто бокові пропуски -->   </div>

    <div class="content_about col-8">
        <h1>Наша команда</h1>

        <div class="team_icon row">
            <div class="col-4 team_slot">
                <img src="{% static 'images/team_foto/Bod.jpg' %}" >
                <h4>Трускавецький
                    <br>
                    Богдан
                </h4>
            </div>

             <div class="col-4 team_slot">
                 <img src="{% static 'images/team_foto/Iric.jpg' %}" >
                <h4>Голобородько
                    <br>
                    Ярослав
                </h4>
            </div>

             <div class="col-4 team_slot">
                <img src="{% static 'images/team_foto/IhorSlo.jpg' %}" >
                <h4>Слодзяк
                    <br>
                    Ігор
                </h4>
            </div>

             <div class="team_icon row">
            <div class="col-4 team_slot">
               <img src="{% static 'images/team_foto/Pasha.jpg' %}" >
                <h4>Антонюк
                    <br>
                    Павло
                </h4>
            </div>

             <div class="col-4 team_slot">
                 <img src="{% static 'images/team_foto/DanPid.jpg' %}" >
                <h4>Підгородецький
                    <br>
                    Данило
                </h4>
            </div>

             <div class="col-4 team_slot">
                <img src="{% static 'images/team_foto/RosTro.jpg' %}" >
                <h4>Троян
                    <br>
                    Ростислав
                </h4>
            </div>

        </div>
    </div>

    <div class="col-2"><!-- Просто бокові пропуски -->    </div>
</div>
{% endblock %}