{% load static %}

<div class="footer_home_page row">

    <div class="fooder_logo col-4">
        <img class="logo_paint" src="{% static 'images/logotypchyk.jpg' %}">
    </div>

    <div class="col-5">

        <div class="fooder_container row">
            <div class="colona_fooder col-6">
                <a href="#">
                    Головна
                </a>
<br><br>
                <a href="#">
                    Акаунт
                </a>
            </div>

            <div class="colona_fooder col-6">
                <a href="#">Про нас</a><br><br>
                <a href="#">Реклама на сайті</a><br><br>
                <a href="#">Відгуки</a><br><br>
            </div>
        </div>

    </div>

    <div class="col-3">

    </div>
</div>